@use './variables'

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: variables.$primary-font

.section-title
  font-family: variables.$secondary-font
  font-weight: 600
  font-size: 72px

.whatsapp-icon
  position: fixed
  z-index: 999
  bottom: 54px
  right: 24px

main
  padding-top: 108px
