@use '../../styles/sass/variables'

.architecture-section
  padding: variables.$padding-extra-large
  background-color: variables.$blue-700
  height: 510px
  margin-top: 90px
  margin-bottom: 80px
  box-shadow: 0 9px 18px #00000086
  position: relative

  .section-background
      display: flex
      flex-direction: row
      width: 100%
      height: 100%
      bottom: -50px
      color: white
      position: absolute

  .section-infos
    padding-top: 64px
    .title-container
      width: 300px
      margin-left: -60px

    .section-subtitle
      font-size: 28px
      width: 430px
      padding: variables.$padding-large variables.$padding-medium
      font-weight: 500
      padding-top: variables.$padding-large
      padding-bottom: variables.$padding-large
    
    .section-links
      display: flex
      flex-direction: column
      padding: variables.$padding-medium
      margin-top: -30px
      
      >.external-link
        width: 320px
        color: #fff
        font-weight: 500
        text-align: center
        font-size: variables.$font-size-medium

@media (max-width: variables.$mobile-breakpoint)
  .architecture-section
    flex-direction: column
    padding: 0
    margin: variables.$margin-large 0
    height: 900px
    overflow-x: hidden
    overflow-y: hidden

    .section-background
      position: relative
      height: 100%
      top: 0
      flex-direction: column

      .image-container
        width: 100%

        .architecture-image
          width: 100%

      .section-infos
        margin-top: 0
        padding: 0

        .title-container
          width: 100%
          padding: variables.$padding-medium
          margin: auto
          display: flex
          align-items: center
          justify-content: center
          
          >.section-title
            font-size: 42px
            text-align: center

        .section-subtitle
          font-size: 20px !important
          text-align: center
          font-size: 16px
          padding-bottom: variables.$padding-large
          padding-top: 0

        .section-links
          align-items: center
          .external-link
            color: #fff !important



