@use '../../styles/sass/variables'

.swiper-button-prev, .swiper-button-next
  display: none

.swiper-pagination-bullet
  color: #fff
  background-color: #fff

.banners-carousel
  transition: .4s
  .wrapper-container
    position: relative
    transition: .4s

    &:hover
      transition: .4s

      .infos-container
        display: block
        background-color: #00000092
        cursor: pointer
        transition: .4s

    .infos-container
      position: absolute
      z-index: 999
      top: 0
      left: 0
      bottom: 0
      right: 0
      display: none
      transition: .4s
      color: #fff

      >.infos
        max-width: 100%
        height: 100%
        display: flex
        flex-direction: column
        gap: 20px
        justify-content: center
        padding: variables.$padding-large
        transition: .4s
        >.title
          font-size: 64px
        
        >.description
          width: 680px
          font-weight: 500
          font-size: 18px


        
        

@media(max-width: variables.$mobile-breakpoint)
  .swiper
    margin-top: variables.$padding-medium
  
  .swiper-button-prev, .swiper-button-next
    display: none

  .banners-carousel
    margin-bottom: 0 !important

    .banner-carousel-item
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      .image-container
        display: flex
        flex-direction: column
      
        .image-carousel
          width: 300px

        .banner-infos
          position: inherit
          padding: 0 !important

          .banner-title
            font-size: 36px
            padding-top: variables.$padding-medium
          
          .banner-paragraph
            font-size: variables.$font-size-medium
            position: inherit
            width: 200px
            margin-bottom: 20px
          
          .-criativity-paragraph
            font-size: 14px !important
            width: 100%
            margin-bottom: 4px
          
          .banner-carousel-link
            position: inherit
            font-size: variables.$font-size-medium