@use '../../styles/sass/variables'

.swiper
  height: 420px

.swiper-button-prev, .swiper-button-next
  display: none

.swiper-pagination-bullet
  color: #fff
  background-color: #fff

.banners-carousel
  padding: variables.$padding-medium
  background-color: #000
  color: white

  .banner-carousel-item
    padding: 0 variables.$padding-extra-large

    >.image-container
      display: flex
      postition: relative

      >.banner-infos
        position: absolute
        padding: variables.$padding-small
        left: 28%

        .banner-title
          font-family: variables.$secondary-font
          font-weight: 600
          font-size: 72px
        
        .banner-paragraph
          position: absolute
          left: 200px
          width: 500px
          font-size: variables.$font-size-large
          font-weight: 200
          margin-top: variables.$margin-large
        
        .banner-carousel-link
          position: absolute
          left: 200px
          bottom: -130px
          color: #fff
          font-size: 18px
          font-weight: 500
        
        .-button
          background-color: variables.$blue-900
          text-decoration: none
          padding: 8px
          width: 300px
          text-align: center
          transition: .4s
        
        .-button:hover
          border-radius: 8px
          transform: scale(1.05)
        
        

@media(max-width: variables.$mobile-breakpoint)
  .swiper
    height: 648px
    margin-top: variables.$padding-medium
  
  .swiper-button-prev, .swiper-button-next
    display: none

  .banners-carousel
    height: 700px
    .banner-carousel-item
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

      .image-container
        display: flex
        flex-direction: column
      
        .image-carousel
          width: 300px

        .banner-infos
          position: inherit

          .banner-title
            font-size: 36px
            padding-top: variables.$padding-medium
          
          .banner-paragraph
            font-size: variables.$font-size-medium
            position: inherit
            width: 200px
            margin-bottom: 20px
          
          .banner-carousel-link
            position: inherit
            font-size: variables.$font-size-medium